rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    
    match /{document=**} {
      allow read, write: if false;
    }

    
    function isSignedIn() {
      return request.auth != null;
    }
    
    function isAdmin() {
      return isSignedIn() && (
        request.auth.token.email == 'esrefyasinkaraagaclik@gmail.com' ||
        request.auth.token.email == 'mustafakaanresmi@gmail.com' ||
        request.auth.token.email == 'mehmetakiferden@gmail.com'
      );
    }

    function incoming() {
      return request.resource.data;
    }

    
    match /users/{userId} {
      allow get: if isSignedIn() && (request.auth.uid == userId || isAdmin());
      allow list: if isSignedIn();
      allow create: if isSignedIn() && userId == request.auth.uid;
      allow update: if isSignedIn() && (request.auth.uid == userId || isAdmin());
    }

    
    match /moduleScores/{scoreId} {
      allow read: if true;
      allow create: if isSignedIn() && incoming().userId == request.auth.uid;
      allow delete: if isAdmin();
    }

    
    match /feedbacks/{feedbackId} {
      allow create: if true; 
      allow read: if isAdmin();
    }

    
    match /chats/{chatId} {
      allow read: if isSignedIn() && resource.data.userId == request.auth.uid;
      allow create: if isSignedIn() && incoming().userId == request.auth.uid;
      allow delete: if isSignedIn() && resource.data.userId == request.auth.uid;
    }
  }
}
